<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="com.echo.XT2005.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <clear />
    <add key="rptID" value="1100" />
    <add key="beginTime" value="20090101" />
    <add key="endTime" value="20091231" />
  </appSettings>
  <connectionStrings>
    <add name="com.echo.XT2005.Properties.Settings.XT2007ConnectionString"
        connectionString="Driver={Kingbase ODBC driver};database=XT2007;server=LOCALHOST;port=55321;uid=SYSTEM;pwd=MANAGER"
        providerName="System.Data.Odbc" />
  </connectionStrings>
  <applicationSettings>
    <com.echo.XT2005.Properties.Settings>
      <setting name="STR_TITLE" serializeAs="String">
        <value>党统工具V2010</value>
      </setting>
      <setting name="STR_MENU_SYSTEM" serializeAs="String">
        <value>系统(&amp;S)</value>
      </setting>
      <setting name="STR_ACL_LINK" serializeAs="String">
        <value>连接数据库(&amp;L)</value>
      </setting>
      <setting name="STR_TAB_RPTCHK" serializeAs="String">
        <value>报表校核</value>
      </setting>
      <setting name="STR_ACL_EXIT" serializeAs="String">
        <value>退出(&amp;X)</value>
      </setting>
      <setting name="STR_AC_SELECTNONE" serializeAs="String">
        <value>清除全选(&amp;N)</value>
      </setting>
      <setting name="STR_AC_SELECTALL" serializeAs="String">
        <value>全选(&amp;A)</value>
      </setting>
      <setting name="STR_SETRPT" serializeAs="String">
        <value>设置报告期</value>
      </setting>
      <setting name="STR_RPTTEMPLATE" serializeAs="String">
        <value>报表模板</value>
      </setting>
      <setting name="STR_RPTDURATION" serializeAs="String">
        <value>报告期</value>
      </setting>
      <setting name="STR_OK" serializeAs="String">
        <value>确定(&amp;O)</value>
      </setting>
      <setting name="STR_CANCEL" serializeAs="String">
        <value>取消(&amp;C)</value>
      </setting>
    </com.echo.XT2005.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
